
.vs/
packages/
BurnSoft.Applications.MLL/obj/
.vs/BurnSoft.Applications.MLL/
BurnSoft.Applications.MLL/BurnSoft.Universal.chm
BurnSoft.Applications.MLL/BurnSoft.Security.RegularEncryption.chm
.vs/BurnSoft.Applications.MLL/v16/.suo
